
<div class="loading" *ngIf="loadingPost">
    <mat-spinner [diameter]="30"></mat-spinner>
    <span>Chargement....</span>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
        </tr>
    </tbody>
</table>